.Video {
    display: flex;
    flex-direction: row;
     overflow: hidden;
    justify-content: center;
}
.left {
    display: flex;
    flex-direction: row-reverse;
}
.left .Video-image{
    margin-left: 2rem;
}
.Video-image {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 2rem;
     
}

.Video-image .img {
    width: 100%;
    height: 100%;
}

.Video-content {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}

.Video-content h4 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
   
}

.Video-content h4:last-child {
    color: #ff8A71;
}

.Video-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    margin: 1rem 0;
}

.Video-content p {
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    margin-bottom: 2rem;
}

@media screen and (max-width: 950px) {
    .Video {
        flex-direction: column;
    }

    .Video-image {
        margin: 1rem 0;
    }

    .Video-image .img {
        width: unset;
        height: unset;
    }

    .Video-content {
        margin-top: 2rem;
    }
    .left .Video-image{
        margin-left: 0rem;
    }
}

@media screen and (max-width: 700px) {
    .Video-image .img {
        width: 100%;
        height: 100%;
    }
    .left .Video-image{
        margin-left: 0rem;
    }
}

